In [72]:
import numpy as np
import pandas as pd
import duckdb as db

# Part 1

To answer the questions, you will need to complete the following tasks:
- Read the “titanic_1.csv” data into Python. Name your data df_t1
- Read the “titanic_2.csv” data into Python. Name your data df_t2
- Concatenate both dataframes. Name your new data df_titanic

In [73]:
df_t1 = pd.read_csv('titanic_1.csv')
df_t2 = pd.read_csv('titanic_2.csv')

In [74]:
df_titanic = pd.concat([df_t1, df_t2])

## Question 6

How many rows are in df_titanic?

In [75]:
df_titanic.shape

(1343, 12)

## Question 7

How many columns are in df_titanic?

In [76]:
df_titanic.shape

(1343, 12)

## Question 8

Your data contains some duplicate rows. Remove the duplicate rows, and override your dataframe. 

How many rows are in df_titanic after you remove the duplicate rows?

In [77]:
df_titanic = df_titanic.drop_duplicates()

In [78]:
df_titanic.shape

(1309, 12)

## Question 9

Since Age is numerical, we can do a simple data imputation and fill in the missing data with the median of age

What is the average of Age after the imputation is performed? (Round your answer to 1 decimal place, example: nn.n)

In [79]:
df_titanic['Age'] = df_titanic['Age'].fillna(df_titanic['Age'].median())

In [80]:
df_titanic['Age'].mean()

np.float64(29.5081512605042)

## Question 10

Create a new column called “FamilySize” which is the sum of SibSp and Parch plus 1

What is the average of FamilySize in the dataframe? (Round your answer to 1 decimal place, example: nn.n)

In [81]:
df_titanic['FamilySize'] = df_titanic['SibSp'] + df_titanic['Parch'] +1
df_titanic['FamilySize'].mean()

np.float64(1.8823529411764706)

## Question 11

Create a new column FarePerPerson by dividing Fare by FamilySize

What is the maximum value of FarePerPerson in the dataframe? (Round your answer to 1 decimal place, example: nn.n)

In [82]:
df_titanic['FarePerPerson'] = df_titanic['Fare'] / df_titanic['FamilySize']
df_titanic['FarePerPerson'].max()

512.3292

## Question 12

Create a new column Fare_Range based on this mapping:
- If FarePerPerson ≥ 24 → ‘High’
- If 8 ≤ FarePerPerson < 24 → ‘Medium
- If FarePerPerson < 8 → ‘Low’

What is the count of the Fare_Range = ‘Medium’?

In [86]:
df_titanic['Fare_Range'] = np.select(
    [df_titanic['FarePerPerson'] >= 24, 
     (df_titanic['FarePerPerson'] < 24) & (df_titanic['FarePerPerson'] >= 8), 
     df_titanic['FarePerPerson'] < 8],
    ['High', 'Medium', 'Low'], 
    '0')

In [88]:
df_titanic['Fare_Range'].value_counts()

Fare_Range
Low       571
Medium    408
High      329
0           1
Name: count, dtype: int64

## Question 13

For this portion of the assessment, you will join the “ports.csv” data with your titanic dataframe using an inner join.

How many people embarked the Titanic in Ireland?

In [91]:
ports = pd.read_csv('ports.csv')

In [95]:
df_titanic_merge = pd.merge(df_titanic, ports, how = 'inner', left_on = 'Embarked', right_on = 'PortCode')

In [96]:
df_titanic_merge['Country'].value_counts()

Country
United Kingdom    914
France            269
Ireland           124
Name: count, dtype: int64

# Part 2

For this portion of the assessment, we will be working with a small subset of the data from the Stanford Open Policing Project. This dataset contains information about traffic stops in the state of Mississippi during January 2013 to mid-July of 2016. To answer the questions, you will need to complete the following tasks:
- Read the “Traffic_stops.csv” data into Python
- Create a new column called Birth_Year which has only the year portion of driver_birthdate.
- Create a new column called Cohort, where we assign everyone born on or after the year 2000 (>= 2000) to a label “after-2000” and everyone before 2000 (< 2000) to “pre-2000”

In [110]:
traffic = pd.read_csv('Traffic_stops.csv')
traffic['Birth_Year'] = traffic['driver_birthdate'].str.split('/').str[2].astype(int)
traffic['Cohort'] = np.where(traffic['Birth_Year'] >= 2000, 'after-2000', 'pre-2000')
traffic.head()

,id,stop_date,county_name,county_fips,police_department,driver_gender,driver_birthdate,officer_id,driver_age,violation,Birth_Year,Cohort
0,MS-2013-00001,1/1/2013,Jones,28067,Mississippi Highway Patrol,male,6/14/1950,J042,63,Seat belt,1950,pre-2000
1,MS-2013-00002,1/1/2013,Lauderdale,28075,Mississippi Highway Patrol,male,4/6/1967,B026,46,Careless driving,1967,pre-2000
2,MS-2013-00003,1/1/2013,Pike,28113,Mississippi Highway Patrol,male,4/15/1974,M009,39,Speeding,1974,pre-2000
3,MS-2013-00004,1/1/2013,Hancock,28045,Mississippi Highway Patrol,male,3/23/1981,K035,32,Speeding,1981,pre-2000
4,MS-2013-00005,1/1/2013,Holmes,28051,Mississippi Highway Patrol,male,8/3/1992,D028,20,Speeding,1992,pre-2000

## Question 14

How many pre-2000 observations do we have in the data?

In [111]:
traffic['Cohort'].value_counts()

Cohort
pre-2000      211035
after-2000        41
Name: count, dtype: int64

## Question 15

We are also interested in exploring the data by completing the following task:
- For each combination of driver gender and the driving violation, calculate the mean driver age.

What is the mean age for males with a Seat belt violation? (Round your answer to 1 decimal place, example: nn.n)

In [112]:
traffic.head()

,id,stop_date,county_name,county_fips,police_department,driver_gender,driver_birthdate,officer_id,driver_age,violation,Birth_Year,Cohort
0,MS-2013-00001,1/1/2013,Jones,28067,Mississippi Highway Patrol,male,6/14/1950,J042,63,Seat belt,1950,pre-2000
1,MS-2013-00002,1/1/2013,Lauderdale,28075,Mississippi Highway Patrol,male,4/6/1967,B026,46,Careless driving,1967,pre-2000
2,MS-2013-00003,1/1/2013,Pike,28113,Mississippi Highway Patrol,male,4/15/1974,M009,39,Speeding,1974,pre-2000
3,MS-2013-00004,1/1/2013,Hancock,28045,Mississippi Highway Patrol,male,3/23/1981,K035,32,Speeding,1981,pre-2000
4,MS-2013-00005,1/1/2013,Holmes,28051,Mississippi Highway Patrol,male,8/3/1992,D028,20,Speeding,1992,pre-2000

In [115]:
traffic.groupby(['driver_gender', 'violation'])['driver_age'].mean()

driver_gender  violation
female         Breaks-Lights-etc           32.441211
               Careless driving            35.138614
               License-Permit-Insurance    32.134644
               Other or unknown            33.006566
               Seat belt                   34.079659
               Speeding                    35.072649
male           Breaks-Lights-etc           33.162427
               Careless driving            35.562246
               License-Permit-Insurance    33.626704
               Other or unknown            34.813733
               Seat belt                   38.345133
               Speeding                    36.402142
Name: driver_age, dtype: float64