In [4]:
import pandas as pd
import duckdb as db
import numpy as np

#### Load the AWProduct.csv file into a Pandas Dataframe. Name the Dataframe df

In [3]:
df = pd.read_csv("AWProduct.csv")

#### Using SQL: Display the first 10 rows of the Dataframe. Only show the following columns: ProductKey, ProductAlternateKey, ProductSubcategoryKey, ProductName

In [8]:
db.sql("select ProductKey, ProductAlternateKey, ProductSubcategoryKey, ProductName " \
"from df " \
"limit 10")

┌────────────┬─────────────────────┬───────────────────────┬───────────────────────┐
│ ProductKey │ ProductAlternateKey │ ProductSubcategoryKey │      ProductName      │
│   int64    │       varchar       │        double         │        varchar        │
├────────────┼─────────────────────┼───────────────────────┼───────────────────────┤
│          1 │ AR-5381             │                  NULL │ Adjustable Race       │
│          2 │ BA-8327             │                  NULL │ Bearing Ball          │
│          3 │ BE-2349             │                  NULL │ BB Ball Bearing       │
│          4 │ BE-2908             │                  NULL │ Headset Ball Bearings │
│          5 │ BL-2036             │                  NULL │ Blade                 │
│          6 │ CA-5965             │                  NULL │ LL Crankarm           │
│          7 │ CA-6738             │                  NULL │ ML Crankarm           │
│          8 │ CA-7457             │                  NULL │ HL Crankarm           │
│          9 │ CB-2903             │                  NULL │ Chainring Bolts       │
│         10 │ CN-6137             │                  NULL │ Chainring Nut         │
├────────────┴─────────────────────┴───────────────────────┴───────────────────────┤
│ 10 rows                                                                4 columns │
└──────────────────────────────────────────────────────────────────────────────────┘

#### Using Pandas: Display the first 10 rows of the Dataframe. Only show the following columns: ProductKey, ProductAlternateKey, ProductSubcategoryKey, ProductName

In [10]:
df[['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey', 'ProductName']].iloc[1:10]

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,ProductName
1,2,BA-8327,NaN,Bearing Ball
2,3,BE-2349,NaN,BB Ball Bearing
3,4,BE-2908,NaN,Headset Ball Bearings
4,5,BL-2036,NaN,Blade
5,6,CA-5965,NaN,LL Crankarm
6,7,CA-6738,NaN,ML Crankarm
7,8,CA-7457,NaN,HL Crankarm
8,9,CB-2903,NaN,Chainring Bolts
9,10,CN-6137,NaN,Chainring Nut

#### Using SQL: Display ProductName, DealerPrice only for those rows where the DealerPrice > 10. Limit your output to only 10 rows

In [11]:
db.sql("select ProductName, DealerPrice " \
"from df " \
"where DealerPrice >10" \
"limit 10")

┌────────────────────────────┬─────────────┐
│        ProductName         │ DealerPrice │
│          varchar           │   double    │
├────────────────────────────┼─────────────┤
│ Sport-100 Helmet, Red      │     20.1865 │
│ Sport-100 Helmet, Red      │     20.1865 │
│ Sport-100 Helmet, Red      │      20.994 │
│ Sport-100 Helmet, Black    │     20.1865 │
│ Sport-100 Helmet, Black    │     20.1865 │
│ Sport-100 Helmet, Black    │      20.994 │
│ Sport-100 Helmet, Blue     │     20.1865 │
│ Sport-100 Helmet, Blue     │     20.1865 │
│ Sport-100 Helmet, Blue     │      20.994 │
│ Long-Sleeve Logo Jersey, S │     28.8404 │
├────────────────────────────┴─────────────┤
│ 10 rows                        2 columns │
└──────────────────────────────────────────┘

#### Using Pandas: Display ProductName, DealerPrice only for those rows where the DealerPrice > 10. Limit your output to only 10 rows

In [13]:
df[df['DealerPrice'] > 10][['ProductName', 'DealerPrice']].iloc[1:10]

                    ProductName  DealerPrice
212       Sport-100 Helmet, Red      20.1865
213       Sport-100 Helmet, Red      20.9940
214     Sport-100 Helmet, Black      20.1865
215     Sport-100 Helmet, Black      20.1865
216     Sport-100 Helmet, Black      20.9940
219      Sport-100 Helmet, Blue      20.1865
220      Sport-100 Helmet, Blue      20.1865
221      Sport-100 Helmet, Blue      20.9940
225  Long-Sleeve Logo Jersey, S      28.8404

#### Using SQL: Display ProductName, DealerPrice, Color only for those rows where the DealerPrice > 10 AND Color = Silver. Limit your output to only 10 rows

In [17]:
db.sql("select ProductName, DealerPrice, Color " \
"from df " \
"where DealerPrice >10 and Color = 'Silver'" \
"limit 10")

┌────────────────────────────────┬─────────────┬─────────┐
│          ProductName           │ DealerPrice │  Color  │
│            varchar             │   double    │ varchar │
├────────────────────────────────┼─────────────┼─────────┤
│ HL Mountain Frame - Silver, 42 │    722.5949 │ Silver  │
│ HL Mountain Frame - Silver, 42 │    744.2727 │ Silver  │
│ HL Mountain Frame - Silver, 42 │       818.7 │ Silver  │
│ HL Mountain Frame - Silver, 44 │       818.7 │ Silver  │
│ HL Mountain Frame - Silver, 48 │       818.7 │ Silver  │
│ HL Mountain Frame - Silver, 46 │    722.5949 │ Silver  │
│ HL Mountain Frame - Silver, 46 │    744.2727 │ Silver  │
│ HL Mountain Frame - Silver, 46 │       818.7 │ Silver  │
│ HL Mountain Frame - Silver, 38 │    722.5949 │ Silver  │
│ HL Mountain Frame - Silver, 38 │    744.2727 │ Silver  │
├────────────────────────────────┴─────────────┴─────────┤
│ 10 rows                                      3 columns │
└────────────────────────────────────────────────────────┘

#### Using Pandas: Display ProductName, DealerPrice, Color only for those rows where the DealerPrice > 10 AND Color = Silver. Limit your output to only 10 rows

In [21]:
df[(df['DealerPrice'] > 10) & (df['Color'] == 'Silver')][['ProductName', 'DealerPrice', 'Color']].iloc[1:10]

                        ProductName  DealerPrice   Color
288  HL Mountain Frame - Silver, 42     744.2727  Silver
289  HL Mountain Frame - Silver, 42     818.7000  Silver
290  HL Mountain Frame - Silver, 44     818.7000  Silver
291  HL Mountain Frame - Silver, 48     818.7000  Silver
292  HL Mountain Frame - Silver, 46     722.5949  Silver
293  HL Mountain Frame - Silver, 46     744.2727  Silver
294  HL Mountain Frame - Silver, 46     818.7000  Silver
306  HL Mountain Frame - Silver, 38     722.5949  Silver
307  HL Mountain Frame - Silver, 38     744.2727  Silver

#### Using SQL: Group by color. Find the ListPrice AVERAGE per color.

In [40]:
db.sql("select color, round(avg(ListPrice),2)" \
"from df " \
"group by color")

┌──────────────┬──────────────────────────┐
│    Color     │ round(avg(ListPrice), 2) │
│   varchar    │          double          │
├──────────────┼──────────────────────────┤
│ Red          │                  1176.61 │
│ Silver/Black │                    64.02 │
│ Multi        │                    48.93 │
│ Black        │                   791.37 │
│ NULL         │                    56.47 │
│ Grey         │                    125.0 │
│ Silver       │                  1113.59 │
│ Yellow       │                   918.11 │
│ White        │                     9.25 │
│ Blue         │                   860.11 │
├──────────────┴──────────────────────────┤
│ 10 rows                       2 columns │
└─────────────────────────────────────────┘

#### Using Pandas: Group by color. Find the ListPrice AVERAGE per color.

In [29]:
df.groupby('Color').agg(
    avg_list_price = ('ListPrice', 'mean')
)

              avg_list_price
Color
Black             791.372805
Blue              860.105300
Grey              125.000000
Multi              48.930378
Red              1176.605463
Silver           1113.593927
Silver/Black       64.018571
White               9.245000
Yellow            918.114130

#### Using SQL: Find the ListPrice AVERAGE per color, and only list those colors who have an average list price greater than 100

In [45]:
db.sql("select color, round(avg(ListPrice),2) as average " \
"from df " \
"group by color " \
"having average > 100")

┌─────────┬─────────┐
│  Color  │ average │
│ varchar │ double  │
├─────────┼─────────┤
│ Grey    │   125.0 │
│ Red     │ 1176.61 │
│ Blue    │  860.11 │
│ Silver  │ 1113.59 │
│ Yellow  │  918.11 │
│ Black   │  791.37 │
└─────────┴─────────┘

#### Using Pandas: Find the ListPrice AVERAGE per color, and only list those colors who have an average list price greater than 100

In [48]:
df_group = df.groupby('Color').agg(
    avg_list_price = ('ListPrice', 'mean')
).reset_index()

df_group[df_group['avg_list_price'] > 100]

    Color  avg_list_price
0   Black      791.372805
1    Blue      860.105300
2    Grey      125.000000
4     Red     1176.605463
5  Silver     1113.593927
8  Yellow      918.114130