In [1]:
import pandas as pd
import duckdb as db
import numpy as np

In [2]:
customers = pd.read_csv("customers.csv")
transactions = pd.read_csv('transactions.csv')

Display customers who made purchases.
Tables: customers.csv and transactions.csv
Display: customer_id, last name, items, and amount

In [11]:
db.sql("""
       select c.customer_id, last_name, item, amount 
       from customers as c
       inner join
       transactions as t
       on c.customer_id = t.customer_id""")

┌─────────────┬───────────┬──────────┬────────┐
│ customer_id │ last_name │   item   │ amount │
│    int64    │  varchar  │ varchar  │ double │
├─────────────┼───────────┼──────────┼────────┤
│           1 │ Smith     │ Book     │  12.99 │
│           1 │ Smith     │ Pen      │   1.49 │
│           2 │ Johnson   │ Notebook │   5.25 │
│           3 │ Williams  │ Backpack │   25.0 │
│           3 │ Williams  │ Laptop   │ 799.99 │
└─────────────┴───────────┴──────────┴────────┘

1. All customers, whether or not they made a transaction.
2. All transactions, even if the customer doesn't exist in
customers.csv
3. All customers and all transactions.
4. Total amount spent per customer.

In [12]:
db.sql("""
       select * 
       from customers as c
       left join
       transactions as t
       on c.customer_id = t.customer_id""")

┌─────────────┬────────────┬───────────┬─────────────┬──────────┬────────┐
│ customer_id │ first_name │ last_name │ customer_id │   item   │ amount │
│    int64    │  varchar   │  varchar  │    int64    │ varchar  │ double │
├─────────────┼────────────┼───────────┼─────────────┼──────────┼────────┤
│           1 │ Alice      │ Smith     │           1 │ Pen      │   1.49 │
│           2 │ Bob        │ Johnson   │           2 │ Notebook │   5.25 │
│           3 │ Charlie    │ Williams  │           3 │ Laptop   │ 799.99 │
│           1 │ Alice      │ Smith     │           1 │ Book     │  12.99 │
│           3 │ Charlie    │ Williams  │           3 │ Backpack │   25.0 │
│           4 │ Diana      │ Brown     │        NULL │ NULL     │   NULL │
│           5 │ Ethan      │ Jones     │        NULL │ NULL     │   NULL │
│           6 │ Fiona      │ Miller    │        NULL │ NULL     │   NULL │
└─────────────┴────────────┴───────────┴─────────────┴──────────┴────────┘

In [13]:
db.sql("""
       select * 
       from customers as c
       right join
       transactions as t
       on c.customer_id = t.customer_id""")

┌─────────────┬────────────┬───────────┬─────────────┬──────────┬────────┐
│ customer_id │ first_name │ last_name │ customer_id │   item   │ amount │
│    int64    │  varchar   │  varchar  │    int64    │ varchar  │ double │
├─────────────┼────────────┼───────────┼─────────────┼──────────┼────────┤
│           1 │ Alice      │ Smith     │           1 │ Pen      │   1.49 │
│           2 │ Bob        │ Johnson   │           2 │ Notebook │   5.25 │
│           3 │ Charlie    │ Williams  │           3 │ Laptop   │ 799.99 │
│           1 │ Alice      │ Smith     │           1 │ Book     │  12.99 │
│           3 │ Charlie    │ Williams  │           3 │ Backpack │   25.0 │
│        NULL │ NULL       │ NULL      │           7 │ Mouse    │   14.5 │
│        NULL │ NULL       │ NULL      │           7 │ Keyboard │   30.0 │
└─────────────┴────────────┴───────────┴─────────────┴──────────┴────────┘

In [14]:
db.sql("""
       select * 
       from customers as c
       full join
       transactions as t
       on c.customer_id = t.customer_id""")

┌─────────────┬────────────┬───────────┬─────────────┬──────────┬────────┐
│ customer_id │ first_name │ last_name │ customer_id │   item   │ amount │
│    int64    │  varchar   │  varchar  │    int64    │ varchar  │ double │
├─────────────┼────────────┼───────────┼─────────────┼──────────┼────────┤
│           1 │ Alice      │ Smith     │           1 │ Pen      │   1.49 │
│           2 │ Bob        │ Johnson   │           2 │ Notebook │   5.25 │
│           3 │ Charlie    │ Williams  │           3 │ Laptop   │ 799.99 │
│           1 │ Alice      │ Smith     │           1 │ Book     │  12.99 │
│           3 │ Charlie    │ Williams  │           3 │ Backpack │   25.0 │
│           4 │ Diana      │ Brown     │        NULL │ NULL     │   NULL │
│           5 │ Ethan      │ Jones     │        NULL │ NULL     │   NULL │
│           6 │ Fiona      │ Miller    │        NULL │ NULL     │   NULL │
│        NULL │ NULL       │ NULL      │           7 │ Mouse    │   14.5 │
│        NULL │ NULL       │ NULL      │           7 │ Keyboard │   30.0 │
├─────────────┴────────────┴───────────┴─────────────┴──────────┴────────┤
│ 10 rows                                                      6 columns │
└────────────────────────────────────────────────────────────────────────┘

In [19]:
db.sql("""
       select c.customer_id, sum(amount) 
       from customers as c
       inner join
       transactions as t
       on c.customer_id = t.customer_id
       group by c.customer_id""")

┌─────────────┬─────────────┐
│ customer_id │ sum(amount) │
│    int64    │   double    │
├─────────────┼─────────────┤
│           1 │       14.48 │
│           3 │      824.99 │
│           2 │        5.25 │
└─────────────┴─────────────┘